/* TODO: investigate why this should be copied from browse-grid to make it work */
input {
  border: none;
  /*
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  */
}
