.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav {
  min-width: 200px;
}

mat-sidenav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  overflow: auto;
  flex: 1;
}

.main-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .main-toolbar {
  position: fixed;

  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
