:host {
  width: 100%;
  display: flex;
}
mat-icon {
  cursor: pointer;
}

.menu-btn {
  margin-right: 10px;
}

.action-icon {
  margin-left: 10px;
}

.tb-spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
