<mat-toolbar class="main-toolbar" color="primary">
  <mat-icon (click)="navbar.toggle()" class="menu-btn">menu</mat-icon>
  <!-- TODO: lang to take from config -->
  <span>Thewall</span>

  <span class="tb-spacer"></span>

  <button mat-icon-button><mat-icon>perm_identity</mat-icon></button>

  <mat-menu #editionsMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let edition of (editions$ | async)"
      (click)="changeEdition(edition)"
    >
      <span>{{ edition.title }}</span>
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="editionsMenu">
    <mat-icon>outlined_flag</mat-icon>
    {{ currentEdition?.title }}
  </button>

  <mat-menu #themesMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let theme of themes"
      (click)="changeTheme(theme)"
    >
      <span>{{ theme.title }}</span>
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="themesMenu">
    <!-- TODO: update icon -->
    <mat-icon>color_lens</mat-icon>
    <!-- {{ theme.title }} -->
  </button>

  <button mat-icon-button>
    <mat-icon
      matBadge="22"
      matBadgeColor="accent"
      matBadgePosition="above before"
      >notifications_none</mat-icon
    >
  </button>

  <!-- TODO: langs -->
  <button mat-icon-button (click)="onLogoutBtnClick()">
    <mat-icon title="Logout">logout</mat-icon>
  </button>
</mat-toolbar>
