<sch-dynamic-grid-toolbar
  [filterRow]="filterRow"
  [grid]="this"
></sch-dynamic-grid-toolbar>

<sch-column-menu
  #headerCellMenu="gridColumnMenu"
  [grid]="this"
></sch-column-menu>

<div class="table-wrapper">
  <table
    mat-table
    uxmatFilterRow
    [dataSource]="dataSource"
    matSort
    [matSortActive]="defaultSort"
    matSortDisableClear
    [matSortDirection]="defaultSortDir"
  >
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <!-- FILTERS start -->
    <ng-container
      *ngFor="let filter of columnsCfg"
      [matColumnDef]="'filter_' + filter.name"
    >
      <td mat-cell *matHeaderCellDef>
        <sch-dynamic-filter-row-cell
          [filter]="filter"
        ></sch-dynamic-filter-row-cell>
      </td>
    </ng-container>

    <!-- Actions filter column START -->
    <ng-container matColumnDef="filter_actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <!-- Actions filter column END -->

    <!-- Selection filter column START -->
    <ng-container matColumnDef="filter_selection" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <!-- Selection filter column END -->

    <tr
      class="filter-row"
      mat-row
      *matHeaderRowDef="displayedFilterColumns; sticky: true"
    ></tr>
    <!-- FILTERS end -->

    <ng-container *ngFor="let col of columnsCfg" [matColumnDef]="col.name">
      <th
        class="mat-header-cell--with-menu"
        mat-header-cell
        [uxmatContextMenu]="headerCellMenu.menu"
        mat-sort-header
        (contextmenu)="this.activeColumn = col"
        *matHeaderCellDef
      >
        {{ col.label }}
        <button
          mat-icon-button
          class="column-actions-btn mat-icon-button--small"
          [matMenuTriggerFor]="headerCellMenu.menu"
          (click)="$event.stopPropagation(); this.activeColumn = col"
        >
          <!-- TODO: langs -->
          <mat-icon aria-label="Menu" [inline]="true">more_vert</mat-icon>
        </button>
      </th>

      <td mat-cell *matCellDef="let element" [ngSwitch]="col.type">
        <span *ngSwitchCase="'search'">
          <ng-container *ngIf="element[col.name]">
            {{ element[col.name][col.displayField] }}
          </ng-container>
        </span>

        <span *ngSwitchDefault> {{ element[col.name] }} </span>
      </td>
    </ng-container>

    <!-- Actions START -->
    <ng-container matColumnDef="actions" stickyEnd>
      <!-- TODO: langs -->
      <th class="action-col" mat-header-cell *matHeaderCellDef>Actions</th>
      <td class="action-col" mat-cell *matCellDef="let element">
        <button mat-icon-button routerLink="detail/{{ element[idProperty] }}">
          <mat-icon [inline]="true">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="handleRemoveSinge(element)">
          <mat-icon [inline]="true">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- Actions END -->

    <!-- Selections START -->
    <ng-container matColumnDef="selection" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Selections END -->

    <tr
      mat-row
      (contextmenu)="activeRecord = row"
      [uxmatContextMenu]="rowContextMenu"
      uxmatContextMenuPositionGlobal
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>

<mat-toolbar>
  <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>

  <button mat-icon-button class="refresh-button" (click)="forceGridRefresh()">
    <mat-icon>update</mat-icon>
  </button>

  <div class="auto-refresh-wrapper">
    <!-- TODO: langs -->
    <mat-checkbox
      class="auto-refresh"
      (change)="handleAutoRefreshChanged($event)"
      >Auto refresh</mat-checkbox
    >
  </div>
</mat-toolbar>

<mat-menu #rowContextMenu="matMenu">
  <!-- TODO: langs -->
  <button
    mat-menu-item
    *ngIf="activeRecord"
    routerLink="detail/{{ activeRecord[idProperty] }}"
  >
    Edit
  </button>

  <!-- TODO: langs -->
  <button mat-menu-item (click)="handleRemoveSinge(activeRecord)">
    Remove
  </button>
</mat-menu>
