<div class="buttons-wrapper">
  <button mat-button color="primary" (click)="filterRow.apply()">
    <mat-icon aria-label="">filter_list</mat-icon>
    <!-- TODO: title -->
    Apply Filter
  </button>

  <button
    mat-button
    color="primary"
    [disabled]="!filterRow.filtered"
    (click)="filterRow.clear()"
  >
    <mat-icon aria-label="">clear</mat-icon>
    <!-- TODO: title -->
    Clear Filter
  </button>

  <button mat-button color="primary" (click)="onAdd()">
    <mat-icon aria-label="">add</mat-icon>
    <!-- TODO: title -->
    Add
  </button>

  <button
    mat-button
    color="primary"
    [disabled]="!selection.hasValue()"
    (click)="onEdit()"
  >
    <mat-icon aria-label="">edit</mat-icon>
    <!-- TODO: title -->
    Edit
  </button>

  <button
    mat-button
    color="primary"
    [disabled]="!selection.hasValue()"
    (click)="onRemove()"
  >
    <mat-icon aria-label="">delete</mat-icon>
    <!-- TODO: title -->
    Delete
  </button>
</div>

<!-- START Header context menu -->
<mat-menu #headerCellMenu="matMenu">
  <!-- TODO: langs -->
  <button mat-menu-item (click)="changeSort('asc')">Sort ASC</button>
  <!-- TODO: langs -->
  <button mat-menu-item (click)="changeSort('desc')">Sort DESC</button>
  <hr />
  <button mat-menu-item [matMenuTriggerFor]="columnsMenu">Columns</button>
</mat-menu>

<mat-menu #columnsMenu="matMenu">
  <div mat-menu-item *ngFor="let col of columnsCfg">
    <mat-checkbox
      [checked]="isColumnActive(col)"
      [disabled]="isSingleColumn()"
      (change)="handleColumnVisibilityChange(col, $event.checked)"
      onclick="event.stopPropagation()"
      >{{ col.label }}</mat-checkbox
    >
  </div>
</mat-menu>
<!-- END Header context menu -->

<div class="table-wrapper">
  <table
    mat-table
    uxmatFilterRow
    [dataSource]="dataSource"
    matSort
    [matSortActive]="defaultSort"
    matSortDisableClear
    [matSortDirection]="defaultSortDir"
  >
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <!-- FILTERS start -->
    <ng-container
      *ngFor="let filter of columnsCfg"
      [matColumnDef]="'filter_' + filter.name"
    >
      <td mat-cell *matHeaderCellDef [ngSwitch]="filter.type">
        <uxmat-filter-row-cell
          [uxmatFilterCellDef]="filter"
          [uxmatFilterName]="filter.name"
        >
          <ng-template let-form="form">
            <ng-container [formGroup]="form">
              <input
                *ngSwitchCase="'integer'"
                type="number"
                [formControlName]="filter.name"
              />

              <input
                *ngSwitchCase="'text'"
                type="text"
                [formControlName]="filter.name"
              />

              <input
                *ngSwitchCase="'string'"
                type="text"
                [formControlName]="filter.name"
              />

              <ng-container *ngSwitchCase="'date'">
                <input
                  matInput
                  [matDatepicker]="picker"
                  [formControlName]="filter.name"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </ng-container>

              <!-- TODO: langs -->
              <mat-select
                *ngSwitchCase="'list'"
                placeholder="Any"
                [formControlName]="filter.name"
              >
                <mat-option
                  *ngFor="let option of filter.options"
                  [value]="option.key"
                >
                  {{ option.value }}
                </mat-option>
              </mat-select>

              <!-- TODO: langs -->
              <sch-search-field
                [formControlName]="filter.name"
                *ngSwitchCase="'search'"
                [url]="filter.url"
                [valueField]="filter.valueField"
                [displayField]="filter.displayField"
                placeholder="Search..."
              ></sch-search-field>
            </ng-container>
          </ng-template>
        </uxmat-filter-row-cell>
      </td>
    </ng-container>

    <!-- Actions filter column START -->
    <ng-container matColumnDef="filter_actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <!-- Actions filter column END -->

    <!-- Selection filter column START -->
    <ng-container matColumnDef="filter_selection" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <!-- Selection filter column END -->

    <tr
      class="filter-row"
      mat-row
      *matHeaderRowDef="displayedFilterColumns; sticky: true"
    ></tr>
    <!-- FILTERS end -->

    <ng-container *ngFor="let col of columnsCfg" [matColumnDef]="col.name">
      <th
        class="mat-header-cell--with-menu"
        mat-header-cell
        [uxmatContextMenu]="headerCellMenu"
        (mouseover)="handleHoveredColumnHeaderChanged(col)"
        mat-sort-header
        *matHeaderCellDef
      >
        {{ col.label }}
        <button
          mat-icon-button
          class="column-actions-btn mat-icon-button--small"
          [matMenuTriggerFor]="headerCellMenu"
          onclick="event.stopPropagation()"
        >
          <!-- TODO: langs -->
          <mat-icon aria-label="Menu" [inline]="true">more_vert</mat-icon>
        </button>
      </th>

      <td mat-cell *matCellDef="let element" [ngSwitch]="col.type">
        <span *ngSwitchCase="'integer'"> {{ element[col.name] }} </span>

        <span *ngSwitchCase="'text'"> {{ element[col.name] }} </span>

        <span *ngSwitchCase="'string'"> {{ element[col.name] }} </span>

        <span *ngSwitchCase="'timestamp'"> {{ element[col.name] }} </span>

        <span *ngSwitchCase="'list'"> {{ element[col.name] }} </span>

        <span *ngSwitchCase="'search'">
          <ng-container *ngIf="element[col.name]">
            {{ element[col.name][col.displayField] }}
          </ng-container>
        </span>
      </td>
    </ng-container>

    <!-- Actions START -->
    <ng-container matColumnDef="actions" stickyEnd>
      <!-- TODO: langs -->
      <th class="action-col" mat-header-cell *matHeaderCellDef>Actions</th>
      <td class="action-col" mat-cell *matCellDef="let element">
        <button mat-icon-button routerLink="detail/{{element[idProperty]}}">
          <mat-icon [inline]="true">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onRemoveSinge(element)">
          <mat-icon [inline]="true">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- Actions END -->

    <!-- Selections START -->
    <ng-container matColumnDef="selection" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Selections END -->

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-toolbar>
  <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>

  <button mat-icon-button class="refresh-button" (click)="forceGridRefresh()">
    <mat-icon>update</mat-icon>
  </button>

  <div class="auto-refresh-wrapper">
    <!-- TODO: langs -->
    <mat-checkbox class="auto-refresh" (change)="onAutoRefreshChanged($event)"
      >Auto refresh</mat-checkbox
    >
  </div>
</mat-toolbar>
