@import '~@angular/material/theming';

@mixin dynamic-grid-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-column-filter_actions,
  .action-col {
    border-left: 1px solid mat-color($foreground, divider);
  }

  .column-actions-btn {
    /* Styles from mat-sort */
    $table-background: mat-color($background, 'card');
    $text-color: mat-color($foreground, secondary-text);
    $text-opacity: opacity($text-color);
    color: mix(
      $table-background,
      rgba($text-color, 1),
      (1 - $text-opacity) * 100%
    );
  }

  .refresh-button {
    color: mat-color($foreground, secondary-text);
  }
}

@mixin dynamic-grid-theme-typography($config) {
  .auto-refresh {
    font: {
      family: mat-font-family($config, caption);
      size: mat-font-size($config, caption);
    }
  }
}
