$mat-row-height: 35px;
$mat-header-row-height: 35px;

// same as sort action btn styles
$action-btn-opacity: 0.38;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-icon-button {
  width: 21px !important;
  height: 21px !important;
  font-size: 21px !important;
  line-height: 21px !important;

  .mat-icon {
    font-size: 21px !important;
    line-height: 21px !important;
  }
}

.mat-icon-button--small {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
  line-height: 18px !important;

  .mat-icon {
    font-size: 18px !important;
    line-height: 18px !important;
  }
}

.column-actions-btn {
  position: absolute;
  top: 50%;
  right: 0;
  visibility: hidden;
  transform: translateY(-50%);
  height: $mat-row-height !important;
  line-height: $mat-row-height !important;
  border-radius: 0;
  opacity: $action-btn-opacity;
}

.mat-header-cell:hover .column-actions-btn {
  visibility: visible;
}

.table-wrapper {
  overflow: auto;
  flex: 1;
}

table {
  width: 100%;
}

.filter-row {
  height: auto;

  .mat-cell {
    padding: 0;
  }
}

.actions-row {
  height: auto;

  td {
    padding: 0;
    max-width: 100%;
  }
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell {
  padding: 5px 10px !important;
}
.mat-header-cell--with-menu {
  padding-right: 20px !important;
}

.mat-column-selection {
  box-sizing: border-box;
}

.mat-cell,
.mat-header-cell {
  white-space: nowrap;
}

.mat-header-cell {
  font-weight: bold;
}

.action-col {
  .mat-icon-button:nth-of-type(n + 2) {
    margin-left: 5px;
  }
}

.mat-row,
.mat-footer-row {
  height: $mat-row-height;
}

.mat-header-row {
  height: $mat-header-row-height;
}

mat-paginator {
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.auto-refresh-wrapper {
  margin-left: 20px;
}
