<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <mat-form-field>
    <input readonly [(ngModel)]="article.article_id" name="article_id" matInput placeholder="Article ID">
  </mat-form-field>

  <mat-form-field>
    <input matInput required placeholder="Title" [(ngModel)]="article.title" name="title">
  </mat-form-field>

  <mat-form-field>
    <textarea rows="20" matInput required placeholder="Description" [(ngModel)]="article.description" name="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput required placeholder="Status" [(ngModel)]="article.status" name="status">
  </mat-form-field>

  <mat-form-field>
    <input matInput required placeholder="language ID" [(ngModel)]="article.language_id" name="language_id">
  </mat-form-field>

  <mat-form-field>
    <input matInput required placeholder="Created By" [(ngModel)]="article.created_by" name="created_by">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Created At" [(ngModel)]="article.created_at" name="created_at">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <input type="submit" value="submit" [disabled]="!form.form.valid">
</form>
