<form *ngIf="fields" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-group-wrapper">
    <dynamic-form-group
      [fields]="fields"
      [formGroup]="form"
    ></dynamic-form-group>
  </div>

  <mat-toolbar>
    <!-- TODO: langs -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isSubmiting || !this.form.dirty"
    >
      Save
    </button>

    <!-- TODO: langs -->
    <button
      mat-raised-button
      color="primary"
      (click)="closeOnSave = true"
      [disabled]="isSubmiting || !this.form.dirty"
      type="submit"
    >
      Save and close
    </button>

    <!-- TODO: langs -->
    <button
      mat-raised-button
      color="accent"
      (click)="resetChanges()"
      [disabled]="isSubmiting || !this.form.dirty"
      type="button"
    >
      Reset
    </button>

    <!-- TODO: langs -->
    <button
      type="button"
      (click)="closeEdit()"
      mat-raised-button
      [disabled]="isSubmiting"
      color="warn"
    >
      Cancel
    </button>
  </mat-toolbar>
</form>
