<form *ngIf="fields" (ngSubmit)="onSubmit()" [formGroup]="form">
  <dynamic-form-group [fields]="fields" [formGroup]="form"></dynamic-form-group>

  <div class="buttons">
    <!-- TODO: langs -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isSubmiting || !this.form.dirty"
    >
      Save
    </button>

    <!-- TODO: langs -->
    <button
      mat-raised-button
      color="primary"
      (click)="closeOnSave = true"
      [disabled]="isSubmiting || !this.form.dirty"
      type="submit"
    >
      Save and close
    </button>

    <!-- TODO: langs -->
    <button
      mat-raised-button
      color="accent"
      (click)="resetChanges()"
      [disabled]="isSubmiting || !this.form.dirty"
      type="button"
    >
      Reset
    </button>

    <!-- TODO: langs -->
    <button
      type="button"
      (click)="onCancelClick()"
      mat-raised-button
      [disabled]="isSubmiting"
      color="warn"
    >
      Cancel
    </button>
  </div>
</form>
