$mat-row-height: 35px;
$mat-header-row-height: 35px;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-icon-button {
  width: 21px !important;
  height: 21px !important;
  font-size: 21px !important;
  line-height: 21px !important;
}

.table-wrapper {
  overflow: auto;
  flex: 1;
}

table {
  width: 100%;
}

.filter-row {
  height: auto;

  .mat-cell {
    padding: 0;
  }
}

input,
mat-select,
sch-search-field {
  /* border-width: 0 1px 0 0; */
  border: none;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.actions-row {
  height: auto;

  td {
    padding: 0;
    max-width: 100%;
  }
}

.mat-paginator-container {
  justify-content: flex-start;
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell {
  padding: 5px 10px !important;
}

.mat-column-selection {
  box-sizing: border-box;
}

.mat-cell,
.mat-header-cell {
  white-space: nowrap;
}

.mat-header-cell {
  font-weight: bold;
}

/*
.action-col {
  min-width: 0;
  white-space: nowrap;
  border-left: 1px solid #e0e0e0;
  padding: 0 5px !important;
  color: #666;
}
*/
.action-col {
  .mat-icon-button:nth-of-type(n + 2) {
    margin-left: 5px;
  }
}

.mat-row,
.mat-footer-row {
  height: $mat-row-height;
}

.mat-header-row {
  height: $mat-header-row-height;
}
